<html>
    <head>
        <meta charset="utf-8"/>
        <title>React & Webpack</title>
    </head>
    <body>
        <div id="left-divider">
            left
        </div>
        <div id="right-divider">
            right
        </div>
        <div id="root">
            hello
        </div>
        <div id="table"></div>
        <div id="collapse"></div>
        <div id="divider_list">带有排序和筛选的Table</div>
        <div id="table_with_sort_and_filter"></div>
        <div id="descriptions"></div>
        <div id="datepicker"></div>
        <div id="rangepicker"></div>
        <script>

                QscmfAntd.datepicker(document.getElementById('datepicker'), {});
                QscmfAntd.datepicker(document.getElementById('rangepicker'), {type: 'RangePicker', onChange:function(dates, dateStrings){
                    console.log(dates, dateStrings);
                }});
                QscmfAntd.divider(document.getElementById('root'), {});
                QscmfAntd.divider(document.getElementById('left-divider'), {orientation:'left'});
                QscmfAntd.divider(document.getElementById('right-divider'), {orientation:'right'});

                var opt = {
                    columns: [
                       {
                         title: 'Name',
                         dataIndex: 'name',
                       },
                       {
                         title: 'Age',
                         dataIndex: 'age',
                       },
                       {
                         title: 'Address',
                         dataIndex: 'address',
                       },
                    ],
                    data: [
                            {
                              key: '1',
                              name: 'John Brown',
                              age: 32,
                              address: 'New York No. 1 Lake Park',
                            },
                            {
                              key: '2',
                              name: 'Jim Green',
                              age: 42,
                              address: 'London No. 1 Lake Park',
                            },
                            {
                              key: '3',
                              name: 'Joe Black',
                              age: 32,
                              address: 'Sidney No. 1 Lake Park',
                            },
                          ]

                };
                QscmfAntd.table(document.getElementById('table'), opt);


                var text = `
  A dog is a type of domesticated animal.
  Known for its loyalty and faithfulness,
  it can be found as a welcome guest in many households across the world.
`;
                var collapseOpt = {
                    panels : [
                        {
                            header: 'This is panel header 1',
                            content: "<p>" + text + "</p>"
                        },
                        {
                            header: 'This is panel header 2',
                            content: "<p>" + text + "</p>"
                        },
                        {
                            header: 'This is panel header 3',
                            content: "<p>" + text + "</p>"
                        }
                    ]
                };

                QscmfAntd.collapse(document.getElementById('collapse'), collapseOpt);

                QscmfAntd.divider(document.getElementById('divider_list'), {});

                let tableFilterOpt = {
                    columns: [
                        {
                            title: 'Name',
                            dataIndex: 'name',
                            key:'name',
                        },
                        {
                            title: 'Age',
                            dataIndex: 'age',
                            key:'age',
                        },
                        {
                            title: 'Status',
                            dataIndex: 'status',
                        },
                        {
                            title: 'Address',
                            dataIndex: 'address',
                            key:'address',
                        },
                        {
                            title: 'cus_sorted',
                            dataIndex: 'cus_sorted',
                            key:'cus_sorted',

                        },
                        {
                            title: 'self_sorted',
                            dataIndex: 'self_sorted',
                            key:'self_sorted',
                        },
                        {
                            title: 'date',
                            dataIndex: 'date',
                            key:'date',
                        },
                        {
                            title: 'date_range',
                            dataIndex: 'date_range',
                            key:'date_range',
                        },
                    ],

                };

                function mockData(){
                    let color = ['R','G','B'];
                    let mock_data = [];
                    for(let i=0; i < 50 ;i++){
                        const temp = {
                            key: i,
                            name: 'name_'+i,
                            age: Math.floor(Math.random()*100),
                            status: Math.round(Math.random()),
                            address: 'address_'+i,
                            cus_sorted: color[Math.floor(Math.random()*color.length)],
                            self_sorted: color[Math.floor(Math.random()*color.length)],
                            date: Math.floor(Math.random() * (2023 - 1990 + 1) + 1990),
                            date_range: Math.floor(Math.random() * (2023 - 1990 + 1) + 1990) +" - "+Math.floor(Math.random() * (2023 - 1990 + 1) + 1990),
                        };
                        mock_data.push(temp);
                    }

                    return mock_data;
                }

                function genFilter(){
                    return [
                        {"key": "exact_name","name": "name", "text":"精准搜索","type":"input", "rule":"exact", "showLabel":"1"},
                        {"key": "wildcard_name","name": "name", "text":"模糊搜索","type":"input", "rule":"wildcard", "showLabel":"1"},
                        {"key": "self_name","name": "name", "text":"自定义文本搜索","type":"input", "rule":"callback","options":{"callback":"return value===searchData;"}, "showLabel":"1"},
                        {"key": "select_status","name": "status", "text":"下拉框单选","type":"select", "rule":"exact","options":{"options":[{"label":"否","value":0},{"label":"是","value":1}],"showSearch":"1"},"changeThenSearch":"1"},
                        {"key": "date","name": "date", "text":"日期筛选","type":"date", "rule":"egt","options":{"picker":"year"}, "showLabel":"1"},
                        {"key": "date_range","name": "date", "text":"日期范围筛选","type":"date_range", "rule":"between","options":{"picker":"year","valueSeparator":" - "}, "showLabel":"1"},
                        {"key": "self_filter","name": "date_range", "text":"自定义日期搜索","type":"date", "rule":"callback","options":{"picker":"year","valueSeparator":" - ","callback":"if (searchData !== \"\"){const [min, max] = value.split(' - ');  return min <= searchData && searchData <= max;}"}, "showLabel":"1"},
                        {"key": "multi_select_status","name": "status", "text":"下拉框多选","type":"multi_select", "rule":"in","options":{"options":[{"label":"否","value":0},{"label":"是","value":1}]},"changeThenSearch":"1"},
                    ];
                }

                function genSorter(){
                    return [
                        {"name":"age"},
                        {"name":"self_sorted", "type":"callback", "options":{"callback":"let color_sort=['R','G','B'];let a = color_sort.indexOf(rowA.self_sorted);let b = color_sort.indexOf(rowB.self_sorted);return a - b;"}},
                    ];
                }

                tableFilterOpt.data = mockData();
                let filter = genFilter();
                let sorter = genSorter();
                let id = 'table_with_sort_and_filter';
                QscmfAntd.table(document.getElementById(id), tableFilterOpt, id, filter, sorter);

                var descriptionsOpt = {
                                    title: 'userInfo',
                                    bordered: true,
                                    items: [
                                        {
                                            label:'Product',
                                            content: 'Cloud Database'
                                        },
                                        {
                                            label:'Config Info',
                                            type: 'html',
                                            content: `Data disk type: MongoDB
                        <br />
                        Database version: 3.4
                        <br />
                        Package: dds.mongo.mid
                        <br />
                        Storage space: 10 GB
                        <br />
                        Replication factor: 3
                        <br />
                        Region: East China 1`
                                        },
                                        {
                                            label:'Config Info',
                                            type: 'image',
                                            content: [
                                                'https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png?undefined',
                                                'https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png?undefined'
                                            ]
                                        }
                                    ]
                                }

                QscmfAntd.descriptions(document.getElementById('descriptions'), descriptionsOpt);


        </script>
    </body>
</html>